html
    head
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0')
    title #{_pageTitle}
    block header
        link(rel='stylesheet' href='public/css/app.css')

    body
        block content
            span ff
        block footer
            include ../parts/footer.pug

